* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

.mainContainer {
    width: 100vw;
}

.upperContainer {
    height: 100vh;
    /* background-color: aqua; */
}

.navbar {
    width: 100%;
    /* background-color: red; */
}

.container {
    width: 100%;
    /* background-color: rgba(43, 91, 213, 0.475); */
    height: 100vh;
    /* clip-path: polygon(0 0, 55% 0, 30% 100%, 0 100%); */
    /* clip-path: polygon(55% 0, 100% 0, 100% 100%, 30% 100%); */
    /* background-color: #0e45d0a9; */
    /* z-index: 2; */
}

.hexlogo {
    width: 100px;
    height: 100px;
}

.videoOverlay {
    position: absolute;
    z-index: -1;
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 30% 100%);
    right: 0;
    /* bottom: 0; */
    /* width: 100vw;
    height: 100vh; */
}

.landingContainer {
    /* background-color: blueviolet; */
    height: 85%;
    /* clip-path: polygon(0 0, 58% 0, 37% 100%, 0 100%); */
    display: flex;
    /* justify-content: center; */
    /* padding-top: 20px; */
    /* margin-top: 100px; */
    justify-content: space-between;
    padding-right: 100px;
    flex-direction: row;
    width: 50%;
    /* align-items: center; */
}

.hexFont {
    font-size: 100px;
    color: #0E44D0;
}

.hexFont2 {
    font-size: 30px;
    color: #0E44D0;
}

.hexFont3 {
    font-size: 50px;
}

.date {
    color: black;
    font-size: 120px;
}

.sponserLogo {
    font-size: 50px;
    position: relative;
    top: 0;
}

.sideContainer {
    width: 10%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    /* background-color: #0E44D0; */
}

.blank {
    height: 50px;
    /* background-color: aliceblue; */
    width: 100%
}

.remindView {
    height: 350px;
    width: 100%;
    /* background: rgba(14, 69, 208, 0.662) url('./src/assests/himalaya.jpg'); */
    /* background: rgb(131, 58, 180);
  
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(180deg, #0E44D0e8 0%, #0E44D0e8 0%), url('./src/assests/himalaya.jpg');
    background-color: #0E44D0e8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 50px;
}

.countdown {
    background-color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: black;
    border-radius: 10px;
    flex-direction: column;
}

.cdlabel {
    font-size: 20px;
    color: darkgrey;
}

.countContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    /* background-color: aqua; */
    width: 60%;
}

.secondSection {
    height: 80vh;
    /* background-color: #0E44D0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdSection {
    height: 80vh;
    /* background-color: #0E44D0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.backImg {
    width: 100%;
    z-index: -1;
    position: absolute;
    background-image: url('./src/assests/hexAbstract.png');
}

.sectionContainer {
    width: 95%;
    height: 90%;
    /* background-color: aqua; */
    display: flex;
}

.description {
    background-color: #F8F9FA;
    padding: 30px;
    position: relative;
    bottom: -100px;
    right: -100px;
    font-size: 30px;
    width: 40%;
}

.banner {
    width: 95%;
    height: 65px;
    background-image: linear-gradient(180deg, #02010100 68%, #0E44D0 0%);
    position: relative;
    top: -65px;
}

.zi {
    z-index: 2;
    position: relative;
    font-size: 50px;
}

.summary {
    font-size: 20px;
    font-weight: 100;
    color: rgb(93, 93, 93);
}

.ut {
    color: rgb(137, 135, 135);
    padding-left: 10px;
    font-size: 20px;
}

.secondImg {
    width: 100%;
    height: 100%;
}

.photo {
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.sectionContainer2 {
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

.upperHeader {
    /* background-color: #F8F9FA; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

.aboutLogo {
    width: 100px;
    height: 100px;
}

.club1 {
    background-color: #F8F9FA;
    /* background-color: red; */
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-right: 10px;
}

.lowerContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.clubLogo {
    background-color: #0E44D0;
    padding: 10px;
    border-radius: 24px;
    position: relative;
    top: -70px;
    display: flex;
    justify-content: center;
}

.clubName {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 20px
}

.clubAbout {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #343A40;
}